.in-red {
    color: red;
}

.in-green {
    color: green;
}

.in-blue {
    color: #0F8DC8;
}

#liveslices-container {
    text-align: left;
}

div.slice-header {
    font-weight: bold;
    font-size: large;
}

/* the inria font does not fit in boxes too well */
div#my-slices>div {
    font-family: 'Ubuntu', sans-serif;
}

tbody.fc-body {
    font-family: 'Ubuntu', sans-serif;
}    
