/*

// The SVG specification decides strictly between attributes
// that are properties and other attributes.
// properties can be modified with CSS, the latter not.
// see properties https://www.w3.org/TR/SVG/propidx.html

 somehow these styles on svg elements do not seem to trigger
//.walls {
//    'fill': '#fdfdfd';
//}
//rect.pillar {
//    'fill', '#101030';
//}
// the intention for the common settings to path.walls and rect.walls
//.common{
//    'stroke': '#3b4449';
//    'stroke-width':  6px;
//    'stroke-linejoin': 'round';
//    'stroke-miterlimit': 8;
//}
*/

.walls {
    fill: rgba(248, 248, 248, 0);
    stroke: #3b4449;
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-miterlimit: 8;
}

.pillar.walls {
    fill: #888;
}

circle.node-status {
    stroke-width: 0;
    opacity:      .8;
}

circle.unavailable {
    opacity:	  .3;
}

text.node-label {
    font-family:	consolas, monaco, times-new-roman;
    text-anchor:	middle;
    dominant-baseline:	middle;
}

circle.node-status:hover, circle.unavailable:hover, text.node-label:hover {
    cursor:	pointer;
}

/* ---------- */
rect.phone-status {
    stroke:	      black;
    stroke-width: 1px;
    fill:	      rgba(0,0,0,0);
    rx:           2px;
    ry:           2px;
}

text.phone-status {
    text-anchor:	    middle;
    dominant-baseline:  middle;
    stroke:		        blue;
    stroke-width:	    1px;
}
/* ---------- */
text.sidecar-status {
    text-anchor:	    middle;
    dominant-baseline:	middle;
    stroke:		        blue;
    stroke-width:	    1px;
}

line.location-annotation {
    stroke-width: 3px;
    stroke: red;
}