/* some space for the metal badges */
.livecolumns_body td.metal img {
    height : 20px;
}

/* last metal, last uname & last image */
.livecolumns_body td.metal, .livecolumns_body td.image {
    color: navy;
    font-size: 0.9em;
}

td.metal.ko, td.docker.ko {
    opacity: 0.5;
}

thead.livecolumns_header th,
tfoot.livecolumns_header th {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 6px;
}

tbody.livecolumns_body td.docker-ko {
    color: red;
}

tbody.livecolumns_body td.docker-ok.running {
    color: green;
}

.docker.running {
    color: green;
}

.docker {
    text-align: center;
}

tbody>tr>td:nth-child(1),
tbody>tr>td:nth-child(2),
tbody>tr>td:nth-child(3),
tbody>tr>td:nth-child(5),
tbody>tr>td:nth-child(6),
tbody>tr>td:nth-child(9)
{
    text-align: center;
}