/* override onelab's defaut, use Inria's font by default */
body.r2lab {
    font-family: 'Inria Sans', 'Ubuntu', sans-serif;
}

/* restore onelab's font for the login form that otherwise shows up a bit off */
div.login-form {
    font-family: 'Ubuntu', sans-serif;
}
div#main.login-form {
    margin: 0px;
}

div.navigation ul {
    margin:26px 0 0 0;
    padding:0;
    display: inline-block;
    list-style-type: none;
    white-space: nowrap;
}

div.slogan {
    text-align:center;
    color:#fff;
    padding-top:400px;
    text-shadow: 1px 1px white;
}

div.header-area {
    font-size:11pt;
    line-height:1.2em;
    letter-spacing:0.3pt;
    min-height:400px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    background-color:#f0f0f0;
}

.login-column {
    background:rgba(200, 220, 240, 0.85);
    border: 2px solid transparent;
    min-height:400px;
}
.login-column img.img-responsive {
    margin: 0px;
}
.login-signup {
    margin: 0px;
}
.login-header {
    margin-top: 15px;
}
.header .logo img {
    vertical-align:middle;
    margin-top:-3px;
}
div.last-text {
    margin-top: 10px;
}
