<!-- the button that gives access to slides-keys-modal -->
<div id="slices-wrap">
  <div id="manage-slices-keys" data-toggle="tooltip" data-html="true" title="Click to manage<br/>your slices and keys">
    <button type="button" data-toggle="modal" data-target="#slices_keys_modal"
      class="fc-button fc-state-default fc-corner-left fc-corner-right slices-keys">
      slices & keys&nbsp;&nbsp;
      <span class='fa fa-gear'></span>
    </button>
  </div>
  <!-- list of my slices -->
  <div id="my-slices" data-toggle="tooltip" data-placement="top" data-html="true"
    title="Double click in slice</br>to select as default">
    <h4 align="center">Slices&nbsp;&nbsp;
      <span id="liveleases_reset_colors" class="fa fa-refresh" data-toggle="tooltip" title="Reset slice colors"></span>
    </h4>
  </div>
  <div style="clear:both"></div>
</div>